*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  --webkit-font-smoothing:antialiased;
  text-rendering: optimizeLegibility;
}

.app{
  display:flex;
  width:100%;
  height:100vh;
  background-color:rgb(167, 158, 158);
  justify-content: center;
  align-items: center;
}